body {
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.stenMayungaImg {
    margin: 50px auto 50px auto;
    border-radius: 50%;
}

h1 {
    margin: 50px auto 0 auto;
    font-family: 'Cinzel', serif;
    font-size: 4rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    margin-top: 50px;
}

h1, h2, h3 {
    color: #495464;
}

hr {
    width: 10%;
    border: none;
    border-top: 7px dotted #e8e8e8;
    margin: 100px auto;
    clear: both;
}

.webDev {
    font-weight: normal;
    margin-top: 0;
}

.topContainer {
    background-color: #f4f4f2;
    position: relative;
    padding-top: 100px;
}

.middleContainer {

}

.skillRow {
    width: 50%;
    margin: 0 auto;
    text-align: left;
    line-height: 1.7;
}

.webDevelopmentImg {
    width: 25%;
    float: left;
    padding-right: 30px;
}

.webDesignImg {
    width: 25%;
    float: right;
    padding-left: 30px;
}

.bottomContainer {
    background-color: #495464;
    padding-top: 4rem;
    color: #f4f4f2;
}

.dev {
    text-decoration: underline;
}

.topCloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottomCloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.description {
    width: 50%;
    margin: auto;
    padding: 2rem 0;
    line-height: 1.7;
}

.descriptionLink {
    color: #0253cc;
    padding: 1px;
}

.descriptionLink:hover {
    color: #495464;
    text-decoration: underline;
}

a {
    color: #bbbfca;
    text-decoration: none;
    padding: 0 20px;
}

a:hover {
    color: #e8e8e8;
}

.btn {
    background: #0253cc;
    background-image: -webkit-linear-gradient(top, #0253cc, #495464);
    background-image: -moz-linear-gradient(top, #0253cc, #495464);
    background-image: -ms-linear-gradient(top, #0253cc, #495464);
    background-image: -o-linear-gradient(top, #0253cc, #495464);
    background-image: linear-gradient(to bottom, #0253cc, #495464);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    color: #f4f4f2;
    font-size: 16px;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 50px;
  }
  
  .btn:hover {
    background: #3a8bfc;
    background-image: -webkit-linear-gradient(top, #3a8bfc, #0253cc);
    background-image: -moz-linear-gradient(top, #3a8bfc, #0253cc);
    background-image: -ms-linear-gradient(top, #3a8bfc, #0253cc);
    background-image: -o-linear-gradient(top, #3a8bfc, #0253cc);
    background-image: linear-gradient(to bottom, #3a8bfc, #0253cc);
    text-decoration: none;
  }

.copyright {
    padding: 50px 0px 10px 0px;
    font-size: 0.7rem;
}

